:root {
  /* 1200px + 2 paddings  = 1240px */
  --websiteWidth: 1240px;
  --mainFontColor: #303030;
  --secondaryFontColor: #606060;
  --backgroundColor: #ffffff;
  /* --brakeLineColor: #d6d6d6; */
}
/* background-color: var(--first-color); */

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-user-drag: none;
  outline: none;
}
/* Set default font-size to 14px, disable Tap highlighting for mobile devices, enable Smooth font rendering, disable Text size increase algorithm for apple devices. */

html {
  font-size: 14px;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  height: 100%;
}
/* Disable pinch zoom and other touch gestures, disable pull to refresh, rubber banding and scroll chaining features, set max-width on body as 100 viewport width, reset default margin, set default line-height and Systen Font Stack */

body {
  touch-action: pan-x pan-y;
  overscroll-behavior: none;
  max-width: 100vw;
  margin: 0;
  line-height: 1.4;
  font-family: sans-serif;
  font-weight: 400;
  color: var(--mainFontColor);
  height: 100%;
}
/* Reset default margin and font properties on Headings and Paragraph. */

.hight-wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

#__next {
  height: 100%;
}

main {
  flex-grow: 1;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font: inherit;
}

/* Reset color and text-decoration on links. */

a {
  color: inherit;
  text-decoration: none;
}
/* Reset button tag */

button {
  background-color: inherit;
  border: 0;
  color: inherit;
  padding: 0;
}
/* Limit image width and reset border. */

img {
  max-width: 100%;
  height: auto;
  border: none;
}
/* Reset border, shadow, font and set font-size to 16px on common input elements. 16px font size avoid resizing viewport on apple devices. */

input,
textarea,
select {
  font: inherit;
  font-size: 16px;
  border: 1px solid;
  border-radius: 0;
  background-clip: padding-box;
}

fieldset {
  border: 1px solid;
}

/* Reset underscore on lists. */

li {
  list-style: none;
}

/* Reset margin, padding and list-style on lists. */

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
/* Reset border of horizonal rule */

hr {
  border: none;
  border-bottom: 1px solid;
}
/* Reset table border and table head font-weight */

table {
  border-spacing: 0;
  border-collapse: collapse;
}

th {
  font-weight: inherit;
}
/* Reset iframe border  */
iframe {
  border: 0;
}
/* Reset margin and padding on common HTML Elements */

menu {
  margin: 0;
  padding: 0;
}

form,
figure,
pre,
blockquote,
dl,
dd {
  margin: 0;
}
/* Reset font on adrress tag */

address {
  font: inherit;
}

.container {
  margin: 0 auto;
  max-width: var(--websiteWidth);
  width: 100%;
  padding: 0 20px;
}
